<div class="navbar">
  <h1>Google Maps Real-Time App</h1>
</div>

<div class="container">
  <div id="map-container">
    <google-map
      height="100%"
      width="100%"
      [center]="center"
      [zoom]="zoom">
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker">
      </map-marker>
    </google-map>
  </div>

  <!-- Formulario flotante -->
  <div class="floating-form">
    <form (ngSubmit)="searchAddress()">
      <label for="address">Buscar dirección</label>
      <input
        type="text"
        id="address"
        [(ngModel)]="address"
        name="address"
        placeholder="Escribe una dirección"
        required />
      <button type="submit">Agregar marcador</button>
    </form>
  </div>
</div>
